@charset "utf-8";
#contents {
    width: 798px;
    margin: 40px auto;
    padding: 40px 80px;
    border: 1px solid #f6bb9a;
    background-color: #fff;
  }
  /*表格設定*/
table.entryTable {
    width: 100%;
    margin-bottom: 30px;
    border: 2px solid #c79ef6;
    border-collapse: collapse; /* separate, collapse */
  }
  .entryTable th,
  .entryTable td {
    padding: 10px 20px;
    border: 1px solid #d69ef6;
  }
  .entryTable th {
    width: 10em; /* em: text size */
    background-color: #78968e;
    text-align: left;
  }
  .entryTable caption {
    margin-bottom: 10px;
  }
  /*輸入表單設定*/
  .entryTable input[type="text"],
  .entryTable input[type="email"],
  .entryTable textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    box-sizing: border-box; /* to include padding and border*/
    font-size: 1em;
  }
  .entryTable input[type="text"]:focus,
  .entryTable input[type="email"]:focus,
  .entryTable textarea:focus {
    background-color: #ffffee;
    outline: none;
    border-left: 5px solid #ffa700;
  }
  h1.title{
    width: 500px; /*寬度*/
    margin: 40px auto; /*邊筐*/
    /*border: 5px solid #6600FF; /*邊界 solid實心*/
    padding: 30px; /*填充*/
    /*background-color: #58D68D; /*背景顏色*/
    color: #6826be; /*顏色*/
    font-size: 300%; /*字的大小*/
    text-align: center; /*對其 center中間*/
    line-height: 1; /*線高*/
    border-radius: 25%;
    /*text-shadow: 10px 10px 50px rgb(161, 33, 33);*/
    /*box-shadow: 0 0 10px reba(0,0,0,0,5);*/
    /*background-image: linear-gradient(to bottom,#265736, #9d4a4a);*/
    font-family: 'Limelight', cursive;
  }
  #contents
   {
       margin: 40px;
       border: 1px solid blue;/*邊界 solid實心*/
       padding: 40px 80px;/*填充左右40上下80*/
       background-color: rgb(0, 225, 255);
   }