@charset "utf-8";

body {
    background-color: #808080;
    background: url(../img/524092.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

a{
    color: rgb(0, 0, 255);
}
a:hover/*hover浮起來*/
{
 color: blue;
 text-decoration: none;
}
header,nav,footer
{
    text-align: center;
}

/*頁首,導覽,頁尾的共通設定*/
header,nav,footer {
    text-align: center;
  }
  /*導覽樣式設定 grand child selector*/
ul.menu li {
    list-style-type: none;
    display: inline-block;
    width: 180px;
    margin: 10px 40px 10px;
}
ul.menu a {
    background: #adff2f;
    padding: 10px;
    display: block;
    border-radius: 80px;
    color: #000000;
    text-decoration: none;
    font-size: 150%;
    border-style: double;
 }
 ul.menu a:hover{
    background-color: blue ;
  
  }
/*頁面標題設定*/
h1{
    width: 500px; /*寬度*/
    margin: 10px auto; /*邊筐*/
    /*border: 5px solid #6600FF; /*邊界 solid實心*/
    padding: 10px; /*填充*/
    /*background-color: #58D68D; /*背景顏色*/
    color: #fffacd; /*顏色*/
    font-size: 300%; /*字的大小*/
    text-align: center; /*對其 center中間*/
    line-height: 1; /*線高*/
    border-radius: 25%;
    /*text-shadow: 10px 10px 50px rgb(161, 33, 33);*/
    /*box-shadow: 0 0 10px reba(0,0,0,0,5);*/
    /*background-image: linear-gradient(to bottom,#265736, #9d4a4a);*/
    font-family: 'Limelight', cursive;
} 
h2{
    margin-bottom: 30px; /*邊筐*/
    border: 1px dotted #F5B7B1; /*邊界 dotted點點點*/
    border-left: 10px solid #e0cffc; /*左邊邊界 solid實心*/ 
    padding: 10px; /*填充*/
    color:  #f18a8a; /*顏色*/
} 
.h {
    padding: 10px;
    margin-bottom: 30px;
    border: 1px dotted #94c8b1;
    border-left: 10px solid #d0e35b;
    color: #6fbb9a;
    border-radius: 5px 0 0 5px;
  }
  /*小標題設定*/
h3.h-sub {
    padding: 10px;
    background-color: #d3ccfb;
    color: #191970;
    border-radius: 10px;
    box-shadow: 0 0 5px 2px #ffd0ad inset;
  }
  h3.h-sub span{
    color: #dc143c;
  }
  p
  {
      color: #00008b	;
  }
  p.A1{
    font-size: 150%;
    padding: 10px;
    color: #d18800;
  }
  li
  {
      color:rgb(0,168,255);
  }
  dt
   {
       color: rgb(38,0,255);
   }
   dd
   {
       color: rgb(38, 0, 255);
   }
   .h sub span{
    font-weight: lighter;
    color:coral ; 
    }
    /*內容區塊邊框設定: 798+40*2+40*2+1*2=960*/
    main#contents {
        width: 838px;
        margin: 40px auto;
        padding: 40px 80px;
        border: 1px solid #f6bb9e;
        background-size: 50px 70px;      
        background-color: #fff;
    }
    #contents
   {
       margin: 40px;
       border: 1px solid blue;/*邊界 solid實心*/
       padding: 40px 80px;/*填充左右40上下80*/
       background-color: rgb(155, 18, 18);
   }
   .more {
    text-align: right;
}
.more::after 
  {
    margin-left: 3px;
    vertical-align: middle;
}
/*區塊間分隔*/
#contents > section + section {
    margin-top: 80px;
  }
  /*文繞圖設定*/
.objectLeft {
    float: left; /* right*/
    margin-right: 20px;
  }
  .objectRight {
    float: right;
    margin-left: 20px;
  }
  /* clear the float value: left, right, both */
.clear {
    clear: both;
  }
  .clearfix::after {
    content: "";
    display: block;
    clear: both;
  }
  /*圓形圖片設定*/
.img-round {
    border-radius: 100%;
    float: right;
  }
  .iframe {
    border:1px solid black;
    display:none;
}
.imgLeft
{
    float: left;/*浮動：左*/
    margin-right: 40px;
}
/* sidebar menu */
/* The sidebar menu */
.sidebar {
    height: 100%; /* 100% Full-height */
    width: 0; /* initially 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #ee82ee; /* Black: #111*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
  }
  /* The sidebar links */
.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: rgb(25, 172, 44);
    display: block;
    transition: 0.5s;
  }
  /* When you move mouse over the navigation links, change their color */
.sidebar a:hover {
    color: #f1f1f1;
  }
  /* Position and style the close button (@ top right corner) */
.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  /* Style the button that is used to open the sidebar */
.openbtn {
    font-size: 50px;
    cursor: pointer;
    background-color: #c0bb65; /*#111; /* black*/
    color: rgb(21, 143, 21);
    padding: 10px 15px;
    border: none;
  }
  .openbtn:hover {
    background-color: #6fbb9a; /*#444;*/
  }
  
  #main {
    transition: margin-left .5s;
    padding: 16px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }