@charset "utf-8";

body{
    background-color: blueviolet;
    background: url(../img/1140592.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
 /*頁首,導覽,頁尾的共通設定*/
 header,nav,footer {
    text-align: center;
  }
h1{
    width: 500px; /*寬度*/
    margin: 10px auto; /*邊筐*/
    /*border: 5px solid #6600FF; /*邊界 solid實心*/
    padding: 20px; /*填充*/
    /*background-color: #58D68D; /*背景顏色*/
    color: #091dcc; /*顏色*/
    font-size: 300%; /*字的大小*/
    text-align: center; /*對其 center中間*/
    line-height: 1; /*線高*/
    border-radius: 25%;
    /*text-shadow: 10px 10px 50px rgb(161, 33, 33);*/
    /*box-shadow: 0 0 10px reba(0,0,0,0,5);*/
    /*background-image: linear-gradient(to bottom,#265736, #9d4a4a);*/
    font-family: 'Limelight', cursive;
}
h2{
  margin-bottom: 30px; /*邊筐*/
  border: 1px dotted #F5B7B1; /*邊界 dotted點點點*/
  border-left: 10px solid #e0cffc; /*左邊邊界 solid實心*/ 
  padding: 10px; /*填充*/
  color:  #f18a8a; /*顏色*/
}
main#contents86 {
    width: 798px;
    margin: 40px auto;
    padding: 130px 60px;
    border: 1px solid #f6bb9e;
    background-size: 40px 80px;      
    background-color: #fff;
}
#contents
{
    margin: 40px;
    border: 1px solid blue;/*邊界 solid實心*/
    padding: 40px 80px;/*填充左右40上下80*/
    background-color: rgb(155, 18, 18);
}
h3.h-sub {
    padding: 5px;
    background-color: #d3ccfb;
    color: #191970;
    border-radius: 5px;
    box-shadow: 0 0 2px 2px #ffd0ad inset;
  }
  h3.h-sub span{
    color: #dc143c;
  }
  p{
    color: #00008b	;
  }
  P.title{
    padding: 5px;
    font-size: 150%;
    color: #dc143c;
  }
  ul.menu li {
    list-style-type: none;
    display: inline-block;
    width: 180px;
    margin: 0 10px;
}
ul.menu a {
    
    background: #1508c7;
    padding: 10px;
    display: block;
    border-radius: 8px;
    color: #000000;
    text-decoration: none;
    font-size: 150%;
    border-style: double;
 }
 .img-round {
  border-radius: 30%;
}
.imgLeft
{
    float: left;/*浮動：左*/
    margin-right: 30px;
}